In [184]:
#List 
a_list=[1,2,3,4,5]
print(len(a_list))

5

In [185]:
print(a_list[3])

4

In [186]:
a=12.123456

print('{:.4f}'.format(a))
print('{:.3f}'.format(a))
print('{:.2f}'.format(a))
print('{:.1f}'.format(a))

12.1235
12.123
12.12
12.1

In [187]:
a_list

[1, 2, 3, 4, 5]

In [188]:
print(a_list[:3])

[1, 2, 3]

In [189]:
print(a_list[::2])

[1, 3, 5]

In [190]:
print(a_list[2:])

[3, 4, 5]

In [191]:
b=a_list
b[0]=10
print(b)
print(a_list) #update the value of the a list

[10, 2, 3, 4, 5]
[10, 2, 3, 4, 5]

In [192]:
a_list[0]=1
print(a_list)

[1, 2, 3, 4, 5]

In [193]:
b=a_list[:]
b[0]=10
print(b)
print(a_list)

[10, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

        now the value of the a_list doesn't change

In [194]:
b_list=[1,2,3] 
add_list=[1,2,3]
b_list.append(add_list)
print(b_list)

[1, 2, 3, [1, 2, 3]]

In [195]:
b_list=[1,2,3] 
add_list=[1,2,3]
b_list.extend(add_list)
print(b_list) #use this function to add several things

[1, 2, 3, 1, 2, 3]

In [196]:
b_list=[1,2,3]
b_list.insert(2,100)
print(b_list)

[1, 2, 100, 3]

        inserts the value at the given index

In [197]:
a=10

In [198]:
a=10
b=10
a+b

20

In [199]:
_=2

In [200]:
_*22

44

In [201]:
a,b,c,_=[1,2,3,4]

In [202]:
*_,a=[1,2,3,4]

In [203]:
#list 
list_a=[1,2,3,4,5]
print(list_a)

[1, 2, 3, 4, 5]

In [204]:
#sliicing
print(list_a)
print(list_a[2])
print(list_a[:2])
print(list_a[2:])
print(list_a[:])

[1, 2, 3, 4, 5]
3
[1, 2]
[3, 4, 5]
[1, 2, 3, 4, 5]

In [205]:
#slicing by certain steps
import random

x=[]

for i in range(100):
    x.append(random.randint(0,12))
print(x)

[11, 11, 0, 12, 5, 7, 6, 11, 2, 6, 4, 3, 11, 6, 1, 2, 9, 6, 1, 5, 1, 8, 10, 3, 0, 0, 4, 11, 10, 1, 4, 4, 10, 10, 4, 8, 5, 11, 9, 9, 9, 12, 7, 11, 11, 4, 1, 10, 7, 2, 5, 11, 3, 0, 3, 3, 4, 0, 5, 12, 4, 5, 6, 8, 11, 5, 2, 8, 5, 11, 9, 10, 0, 8, 5, 11, 4, 4, 6, 0, 6, 2, 2, 8, 6, 10, 12, 3, 12, 3, 7, 5, 11, 7, 11, 6, 1, 5, 8, 3]

In [206]:
x[50::25]

[5, 11]

In [207]:
x[10:20:3]
c=x[10:20:3]
print(c)

[4, 6, 9, 5]

In [208]:
c=[1,2,3]
c.insert(0,0)
c

[0, 1, 2, 3]

In [209]:
c=[]
for i in range(10):
    c.insert(i,i+1)
print(c)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [210]:
my_tuple=(1,2,3,4) #does not have index
#i.e. tupe[1]--> error

#DICTIONARY

In [211]:
#Dict--> Key: Value

a_dic={1:'a','b':[1,2,3],'c':3}
print(a_dic)

{1: 'a', 'b': [1, 2, 3], 'c': 3}

In [212]:
print(a_dic[1])
print(a_dic['b'])
print(a_dic['c'])

a
[1, 2, 3]
3

In [213]:
a_dic[3]='MS AI'
print(a_dic)

{1: 'a', 'b': [1, 2, 3], 'c': 3, 3: 'MS AI'}

In [214]:
import random

def dic(n):
    dict={}
    for i in range(n):
        dict[f'key {i}']=random.randint(0,100)
    return dict
    
a= dic(5)
print(a)

{'key 0': 31, 'key 1': 61, 'key 2': 84, 'key 3': 55, 'key 4': 68}

In [215]:
#set

a_set={1,2,3}
print(a_set)
print(type(a_set))

{1, 2, 3}
<class 'set'>

In [216]:
b_set={3,4,5}
a_set.union(b_set)

{1, 2, 3, 4, 5}

In [217]:
a_set.intersection(b_set)

{3}

In [218]:
a_set-b_set

{1, 2}

In [219]:
a_set|b_set

{1, 2, 3, 4, 5}

In [220]:
a_set&b_set

{3}

In [221]:
a=set((1,2,3))
print(type(a))
print(a)

<class 'set'>
{1, 2, 3}

In [222]:
b=list(a)
print(type(b))
print(b)

<class 'list'>
[1, 2, 3]